# .gitignore
# defines which files do not need to be tracked with git

# GUI build files
GUI/Project/cvibuild.OpenPET/

# Temporary files
~$*

# Project Files
OpenPET.cdb
OpenPET.cws
OpenPET.exe

# Doxygen files
GUI/Documentation/

# Example REPORT file structure
# GUI/Example\ file\ structure/REPORT_data_07162013/
